project:
  type: website

website:
  title: "docs"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

execute:
  engine: jupyter
jupyter:
  python: "C:/dev/venvs/qdocs/Scripts/python.exe"


